body{
    background-color: var(--color-white);
}

.main {
    margin-top: 12%;
    text-align: center;
    background-color: var(--color-white);
    width: 30%;
    margin-left: 35%;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}


.main h2 {
    padding-top: 35px;
    font-size: 14;
    font-weight: 400;
    
}


.main1 {
    border: 2px solid  var(--color-gray-light-3);
    width: 70%;
    margin-left: 15%;
    height: 200px;
    border-radius: 5px;
}

.main1 i {
    font-size: 50px;
    border: 2px solid  var(--color-gray-light-3);
    margin-top: 8%;
    width: 32%;
    height: 100px;
    padding: 20px;
    color: var(--color-gray-light-3);
    border-radius: 65px;
}
.main1 p {
    font-size: 14px;
    padding: 20px;
    color: var(--color-gray-light-3.5);
}
.main1 button{
    width: 20%;
    background: transparent;
    border: 2px solid  var(--color-gray-light-3);
    font-size: 14px;
    height: 30px;
    border-radius: 2px;
    
}



@media screen  and (max-width: 1238px){
    .main {
        width: 90%;
        margin-left: 5%;
        margin-top: 25%;
    }
    .main1 i {
        font-size: 35px;
        border-radius: 45px;
        width: 43%;
        padding-top: 25px;
        margin-left: 2%;
    }
}