/* Dropdown */
.dropdown {
  position: absolute;
  right: 0;
  top: 2.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0.1rem 1rem rgba(var(--color-black-rgb), 0.2);
  border-radius: 0.4rem;
}

/* Dropdown Element */
.element {
  display: flex;
  align-items: center;
  width: 10rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

/* icon */
.icon {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 1rem;
  color: var(--color-gray-dark-2);
}
