/* Search form styles */
.form {
  position: relative;
}

/* Search icon styles */
.icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  height: 2.2rem;
  width: 2.2rem;
  color: var(--color-gray-medium-1);
  transform: translateY(-50%);
  transition: all 0.2s;
}

/* Search Input Styles */
.input {
  color: var(--color-gray-dark-2);
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1rem 0.8rem 4rem;
  border-radius: 2.5rem;
  border: none;
  line-height: 1;
  outline: 1px solid var(--color-gray-light-3);
  transition: all 0.2s;
}

/* Search input placeholder styles */
.input::placeholder {
  color: var(--color-gray-medium-1);
  transition: all 0.2s;
}

/* Input styles change on input focus */
.input:focus {
  outline: 1px solid var(--color-gray-dark-2);
  background-color: #fff;
}

/* Search icon styles change on input focus */
.input:focus + .icon {
  color: var(--color-gray-dark-2);
}

/* Input placeholder styles change on input focus */
.input:focus::placeholder {
  color: var(--color-gray-dark-2);
}

/* Close Button */
.close {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-gray-dark-3);
}

@media only screen and (max-width: 900px) {
  .input {
    font-size: 1.8rem;
    min-height: 4rem;
    margin: 0.5rem 0;
  }
}
