/* Avatar, Name etc container */
.header {
  display: flex;
  align-items: center;

  padding: 0.9rem 1rem 0.6rem;
}

/* Avatar Styles */
.avatar {
  margin-right: 1.5rem;
}

/* Name and content type container */
.about {
  margin-right: auto;
}

/* Name styles */
.name {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-gray-dark-1);
}

/* Content type style */
.contentType {
  font-size: 1.2rem;
  color: var(--color-gray-medium-2);
}

/* More Icon style */
.moreIcon {
  color: var(--color-gray-medium-2);
  padding: 0.3rem;
  cursor: pointer;
}

/* More Container contains More Icon and TV Card Dropdown */
.moreContainer {
  position: relative;
}
