/* Reaction Container */
.interactions {
  padding: 0.5rem 1rem;
}

/* Interaction Container */
.interactionContainer {
  display: flex;
  align-items: center;
  position: relative;
}

/* Interaction counter container */
.counterContainer {
  display: flex;
  align-items: center;
}

/* Interaction Counters */
.reactionCounter,
.attachmentCounter,
.discussCounter,
.shareCounter {
  font-size: 1.2rem;
  color: var(--color-gray-medium-2);
  text-align: center;
  width: 3rem;
}

/* Reaction Counter */
.reactionCounter {
  width: 56px;
}

/* Attachment count */
.attachmentCounter {
  margin-left: auto;
  margin-right: 2rem;
}

/* Discuss Counter */
.discussCounter {
  margin-right: 2rem;
}

/* Interaction Icons */
.discuss,
.share,
.attachments {
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  stroke-width: 1.5px;
  color: var(--color-gray-dark-3);
  cursor: pointer;
}

.attachments {
  margin-left: auto;
  margin-right: 2rem;
}

.discuss {
  margin-right: 2rem;
}
