.popup {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  box-shadow: 0 3rem 4rem rgba(var(--color-black-rgb), 0.5);
}
